.gallery {
  display: flex;
}
.image {
  height: 200px;
  width: 200px;
  margin: 16px;
  border: 1px gray dotted;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
